<br>
  <div class="filter-buttons" [class.dark-mode]="isDarkMode">
  <button 
    [class.active]="filterRange === '7d'" 
    (click)="onFilterChange('7d')">Last 7 Days</button>
  <button 
    [class.active]="filterRange === '30d'" 
    (click)="onFilterChange('30d')">Last 30 Days</button>
</div><br>

<div class="chart-section-container">
  <div class="bar-chart-container" [class.dark-mode]="isDarkMode">
    <h3>Bar Chart</h3><br>
    <canvas baseChart
      [data]="barChartData"
      [labels]="barChartData.labels"
      [options]="barChartOptions"
      [type]="barChartType"
      [legend]="barChartLegend">
    </canvas><br><br>
    <p class="average-mood">Average Mood: <strong>{{averageMood}}</strong></p>
  </div>

  <div class="pie-chart-container" [class.dark-mode]="isDarkMode">
    <h3>Pie Chart</h3>
    <canvas baseChart
      [data]="pieChartData"
      [type]="pieChartType">
    </canvas>
  </div>
</div>
<div class="go-back-button">
<button  (click)="goToHomePage()" [class.dark-mode]="isDarkMode">Home</button>
</div>