:root {
  --body-bg: #ffffff;
 --primary-bg: #ffffff;
  --primary-text: #1e1e1e;
  --nav-bg: #f4f4f4;
  --content-bg: #e0dddd;
  --button-bg: #1976d2;         
  --button-text: #ffffff;
  --button-hover-bg: #125ea9;
  --logout-bg: #d32f2f;         
  --logout-hover-bg: #b2388f;
  --grid-line-color: rgba(0, 0, 0, 0.1);
}  

.dark-mode {
  --body-bg:#bb86fc;
  --primary-bg: #c58dc5;
  --primary-text: #ffffff;
  --nav-bg: #1e1e1e;
  --button-bg: #bb86fc;
  --button-text: #000000;
  --button-hover-bg: #9f6dfc;
  --logout-bg: #cf6679;
  --logout-hover-bg: #b74b59;
  --content-bg: #1e1e1e;
  --grid-line-color: rgb(255, 255, 255);
}

body{
  margin: 0;
  background-color: var(--body-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

